* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.sss {
  margin-top: 20px;
  all: unset;
  background-color: rgba(249, 64, 222);
  margin-top: 10px;
  border-radius: 20px;
  padding: 10px;
}
.sad {
  width: 100%;
  height: 100vh;
  background-image: url(/photo_٢٠٢١-١٠-١٨_٢٣-١٢-٢٣.jpg);
  background-position: center;
  background-size: cover;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.das {
  width: 200px;
  height: 30px;
  border-radius: 20px;
  padding-left: 10px;
  border: none;
}
.ans {
  font-size: 30px;
  color: white;
  margin-bottom: 20px;
}
